$medium: 640px;
$large: 1024px;
$primary-color: #FF6033;
$text-color: #262626;
$body-font-family: 'Raleway', sans-serif;

@import "normalize";
@import "layout";
@import "elements";
@import "blog";

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700,900&display=swap');

body{
	font: 300 17px/1.5 Raleway, sans-serif;
	color: $text-color;
}

html {
	scroll-behavior: smooth;
}

a {
	color: $primary-color;
	text-decoration: none;

	&:hover {
		color: rgba($primary-color, 0.7);
	}
}

h1,h2,h3,h4,h5,h6{
	margin: 0 0 30px;
	line-height: 1.2;
}
h1{
	font-size: 54px;
}
h2{
	font-size: 48px;
}
h3{
	font-size: 20px;
}
h4, h5, h6{
	font-size: 18px;
}

p {
	margin: 0 0 25px;
}

/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}

/* header */

.ba-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(#fff, 1), transparent);
	padding-bottom: 20px;
	z-index: 2;
}
.ba-header__menu{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	line-height: 1;
	margin-top: -3px;
}		


@media (min-width: 640px) {
	.ba-header__menu {
		display: flex;
	}
}
.ba-header__logo img{
	display: block;
}

.ba-header__bar{
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ba-header__menu li + li{
	margin-left: 36px;
	line-height: 1;
}
.ba-header__menu a{
	text-transform: uppercase;
	text-decoration: none;
	color: $text-color;
	font-size: 16px;
	font-weight: 700;
	position: relative;
}

.ba-header__menu a:after {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: currentColor;
	position: absolute;
	left: 0;
	top: -7px;

	transform: scaleX(0);
	transform-origin: 0 50%;
	transition: opacity 0.3s, transform 0.3s;
}

.ba-header__menu a:hover{
	color: $primary-color;
}

.ba-header__menu a:hover:after {
	opacity: 1;
	transform: scaleX(1);
}

.ba-menu-toggle {
	border: none;
	background: none;
	color: $text-color;
	cursor: pointer;
	box-shadow: none;

	&:hover {
		background: none;
		color: $primary-color;
	}

	&:focus {
		outline: none;
	}

	@media (min-width: 640px) {
		display: none;
	}
}

.ba-menu-toggle svg {
	fill: currentColor;
}


@media (max-width: 639px) {
	.ba-main-nav {
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(#fff, 0.95);
		width: 200px;
		height: 100vh;
		padding: 150px 30px 30px;


		transition: transform 0.9s;
		transform: translateX(calc(-100% - 10px));
	}
	.ba-header__menu {
		flex-direction: column;
		align-items: flex-start;
		
	}

	.ba-header__menu li + li {
		margin-left: 0;
	}

	.ba-header__menu a {
		font-size: 22px;
		margin-bottom: 10px;
		display: inline-block;
	}

}

.ba-main-nav.active {
	transform: translateX(0);
}

/* intro */

.ba-intro{
	background: #fff url(../img/intro.jpg) no-repeat 50%;
	background-size: cover;
}

.ba-intro__inner{
	padding: 140px 0 200px;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 370px;
}


.ba-intro__title {
	font-size: 60px;
	font-weight: 900;
	margin-bottom: 15px;
}

@media (max-width: 639px) {
	.ba-intro__title {
		font-size: 36px;
	}
}

.ba-scroll {
	position: absolute;
	bottom: 70px;
	width: 24px;
	height: 40px;
	background: url(../img/scroll.png);
	left: 50%;
	margin-left: -12px;

	&:hover {
		transform: translateY( -5px)

	}

}

.ba-section {
	padding: 40px 0;

	@media screen and (min-width:$medium){
		padding: 85px 0;
	}

	&--blog {
		background-color: #B07CF7;
		color: #fff;
		@media screen and (min-width:$large){
			padding-bottom: 120px;
			
		}
	}
	&--services {
		background-color: #70BFFF;
		color: #fff;
		@media screen and (min-width:$large){
			padding: 180px 0 140px;
		}
	}
	&--about {
		background-color: #00B2B2;
		color: #fff;
		@media screen and (min-width:$large){
			padding: 75px 0;
		}
	}
	&--gallery {
		background-color: #FFE92F;
		@media screen and (min-width:$large){
			padding-bottom: 120px;
			
		}
	}
	&--subscribe {
		background: url(../img/bg-subscribe.jpeg) 0% 50%;
		background-size: cover;
		@media screen and (min-width:$large){
			padding: 140px 0 160px;
			background: url(../img/bg-subscribe.jpeg) 50% no-repeat;
			
		}
	}
	&--contact {
		background: url(../img/contacts.jpg) 50%;
		background-size: auto 170%;
		@media screen and (min-width:$large){
			background-size: cover;
			padding-bottom: 120px;
			
		}
	}
}

.ba-section-title {
	text-align: center;
	font-weight: 700;
	font-size: 60px;
	margin: 0 0 5px;

	@media screen and (min-width:$medium){
		font-size: 90px;
		margin-bottom: 20px;
	}

	&--left {
		text-align: left;
		margin: 0 0 5px;
	}
}

.ba-section-content {
	text-align: center;
	max-width: 580px;
	margin: 0 auto 45px;
}

.ba-about-col {
	@media screen and (min-width:$large){
		order: 1;
	}
}

.ba-about-content {
	@media screen and (min-width:$large){
		padding: 90px 0 0 70px;
	}
}

.ba-about-img {
	filter: drop-shadow( 0 0 20px rgba(0, 0, 0, .5));
}

@import "services";

.ba-gallery {
	margin-bottom: 20px;

	img {
		box-shadow: 0 4px 10px rgba(0,0,0,0.5);
		display: block;
		width: 100%;
		margin-bottom: 30px;
	}
}

@import "subscribe";
@import "contact";

.ba-align-middle {
	align-items: center;
}

.ba-footer {
	padding: 32px 0;
	background: $text-color;
	color: #b9b9b9;
	text-align: center;
	line-height: 1;
	font-size: 16px;
	@media screen and (min-width:$large){
		p {
			margin: 0;
		}
	}
}

.ba-copyright {
	@media screen and (min-width:$large){
		text-align: left;
	}
}

.ba-madeby {
	font-size: 15px;
	em {
		font-weight: 700;
		color:#FF2B58;
		font-style: normal;
	}

	@media screen and (min-width:$large){
		text-align: right;
	}
}

@media screen and (max-width:$large - 1px){
	.ba-copyright {
		margin-bottom: 20px;
	}
	.ba-madeby {
		margin: 20px 0 0 ;
	}
}